* {
    margin: 0;
    padding: 0;
    
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0; 
    padding: 0; 
    color: white;
    background-color: #131220;
    scroll-behavior: smooth;
  }
/*MENU*/
h1 {
    font-family: "Orbitron", sans-serif;
}

p {
    font-family: "Inter", sans-serif;

}

button {
    font-family: "Oswald", sans-serif;
}
/*MENU-MOBILE*/
#toggle-button {
    position: fixed;
    right: 20px;
    z-index: 1000;
    background-color:transparent;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    display: none;
    
}

.sidebar {
    position: fixed;
    top: 0;
    right: -300px; /* Posiciona o menu fora da tela à direita */
    width: 300px;
    height: 300px;
    background: linear-gradient(to bottom, #190cc9, rgba(1, 11, 27, 0.103));
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transition: right 0.3s ease; /* Suaviza a transição do menu */
    z-index: 3; /* Garante que o menu fique acima do conteúdo principal */
    
}

.sidebar.open {
    right: 0; /* Quando aberto, o menu é trazido para a tela */
}

.menu-section {
    padding: 20px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-bottom: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    display: block;
}

.menu li a:hover {
  color: bisque;
}


/*MENU-MOBILE*/

header {
    
    display: flex;
    width: 100%;
    height: 80px; 
    align-items:center ;
    position: fixed;
    background-color: #131220;
    z-index: 2;
   
    
}
header .menu-header {
    
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100px;
    font-size: 16px;
    gap: 20px;
    
}

header .menu-header ul {

    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10%;
    align-items: center;
    font-family: "Orbitron", sans-serif;
}
header ul li a {
    text-decoration: none;
    list-style-type: none;
    color: aliceblue;
    
}
header ul li a:hover {


    color: #1504ff;
    transition: 0.7s; 
    
}
/*MENU*/


/*CONTENT-00*/
.content-00 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #190cc9, rgba(1, 11, 27, 0.103));
    overflow-x: hidden;
}

.title {
    font-family: "Orbitron", sans-serif;
    color: #ffffff;
    line-height: 1.4;
    white-space: nowrap; /* Previne quebra de linha */
    overflow: hidden; /* Esconde o texto que está fora do contêiner */
    border-right: 0; /* Remove o efeito do cursor de digitação */
    animation: typing 4s steps(40, end) forwards; /* Ajuste o número de steps conforme necessário */
    text-align: center;
    font-size: 80px;
}

.web-developer, .graphic-dancer {
    position: relative;
    display: inline; 
    font-size:16px;
    bottom: 80px;
    
}

/*CONTENT-00*/

/*CONTENT-01*/

.content-01 {
  
    width: 100%;
    height: 100%;
    display:flex ;
    justify-content: center;
    align-items:center ;
    
}

.biografia {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 100px;
    position: relative;
    text-align: center;
    
    
}
.biografia p {
    padding: 20px;
}

/*CONTENT-01*/

/*CONTENT-02*/

.content-02 {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    height: 100vh; 
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #1504ff;
   
   
}

.title-content-02 {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    position: absolute;
    gap: 50vw;
    box-sizing: border-box;  
    flex-direction: row-reverse;
}

.skills {
    position: relative;
    top: 20px;
   right: 120px;
}

.experiences {
    position: relative;
    top: 20px;
    left: 50px;
}

/*ITEM01*/

.all-item-01 {
    position: relative;
    bottom: 10%;
}

.item-01-pg-03 h1 {
    position: relative;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 20px;
    
}



.item-01-pg-03 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: #130b87;
    height: 100vh; 
}

.description-02-pg-03 {
    position: relative;
    top: 80px;
}

/*btn*/

.animated-button {
    background: linear-gradient(-30deg, #120b3d 50%, #130b87 50%);
    padding: 10px 20px;
    margin: 12px;
    display: inline-block;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    overflow: hidden;
    color: #f7d4d4;
    font-size: 20px;
    letter-spacing: 2.5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    position: relative;
    font-family: "Orbitron", sans-serif;
    top: 20px;
}

.btn-bottom {
  position: relative;
  top: 120px;
}

.animated-button::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #432b98;
  opacity: 0;
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out;
}

.animated-button:hover::before {
  opacity: 0.2;
}

.animated-button span {
  position: absolute;
}

.animated-button span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
 background-color: white;
  -webkit-animation: 2s animateTop linear infinite;
          animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.animated-button span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background-color: white;
  -webkit-animation: 2s animateRight linear -1s infinite;
          animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.animated-button span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: white;
  -webkit-animation: 2s animateBottom linear infinite;
          animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.animated-button span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background-color: white;
  -webkit-animation: 2s animateLeft linear -1s infinite;
          animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

/*ITEM01*/

/*ITEM02*/

.item-02-pg-03 {
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: #130b87;
    height: 100vh; 

    
}

.item-02-pg-03 h1 {
    position: relative;
    bottom: 15%;
}






.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background: linear-gradient(to left, #00a4f03f, rgba(146, 160, 183, 0.082));
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 30px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-bottom: 10px;
}

.card p {
    margin: 0;
    font-size: 6px;
    font-weight: bold;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.card-poke-all {
    position: relative;
    bottom: 80px;
    flex-direction: column;
}
.card-poke h1 {
    position: relative;
    top: 20px;
}

.card-poke span {
    position: relative;
    font-size: 12px;
    bottom: 18px;
}

.card-poke {
            background-color: transparent;
            width: 100px;
            height: 50px;
            perspective: 1000px;
            margin: 20px;
           text-align: center;
        }
        .inner-card {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }
        .card-poke:hover .inner-card {
            transform: rotateY(180deg);
        }
        .front, .back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2em;
            color: white;
            border-radius: 10px;
        }
        .front {
            background-color: #333;
        }
        .back {
            background-color: #555;
            transform: rotateY(180deg);
        }


/*ITEM02*/

  

/*CONTENT-02*/

/*CONTENT-03*/

.content-03 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background: linear-gradient(to top, #000000, rgba(1, 11, 27, 0.103));
}

/*CONTENT-03*/


/*CONTENT-04*/
.content-04 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 220px); /* Três colunas de 300px */
    justify-content: center; /* Centraliza as colunas dentro do contêiner */
    
    
}

.content-06 .card-shadow {
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    justify-self: center; /* Centraliza os itens horizontalmente */
    align-self: center; /* Centraliza os itens verticalmente */
}




.card-shadow {
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.062); /* Fundo transparente puxando para o preto */
    padding: 20px;
    border-radius: 10px; /* Borda arredondada opcional */
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.5); /* Sombra uniformemente ao redor do contêiner */
    position: relative;
    bottom: 20px;
    text-align: center;
    margin: 20px;
}


.card-title {
    position: relative;
    top: 20px;
    width: 100;
    height: 20px;
    background-color: #3a0eeb;
   
}
.card-shadow h1 {
    font-size: 20px;
}

.card-shadow span {
    font-size: 12px;
    position: relative;
    bottom: 5px;
}



.flip-card {
    background-color: transparent;
    width: 180px;
    height: 180px;
    perspective: 1000px;
    position: relative;
   
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    
}

.flip-card-front {
  
}
.flip-card-front img {
    width:100%;
    height: 100%;
    object-fit: cover;
   
}

.flip-card-front video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cobre toda a área da frente sem distorcer */
    border-radius: 10px; /* Bordas arredondadas para combinar com o design */
}

.flip-card-back {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #000cf0e6, rgba(14, 14, 14, 0.491));
    transform: rotateY(180deg);
    
}

.flip-card-back h1 {
    font-size: 14px;
}

.flip-card-back p {
    font-size: 10px;
    padding: 5px 2px;
}

/*CONTENT-04*/



/*FOOTER*/
footer {
    position: relative;
    top: 20%;
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;

}

.footer-contact, .footer-about {
    flex: 1;
    margin: 10px;
}

.footer-contact p {
    margin: 10px 0;
    font-family: "Orbitron", sans-serif;
}

.footer-contact p i {
    margin-right: 10px;
    font-family: "Orbitron", sans-serif;
}


.footer-contact a {
    color: #1e90ff;
    text-decoration: none;
}

.footer-about h3 {
    margin-top: 0;
    font-family: "Orbitron", sans-serif;
}

.footer-about p {
    margin: 10px 0;
    font-family: "Orbitron", sans-serif;
}

strong {
    position: relative;
    left: 10px;
}

.social-icons {
    display: flex;
    justify-content: flex-start;
}

.social-icons a {
    color: white;
    margin-right: 10px;
    
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #4a4a4a;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.social-icons i img {
    position: relative;
    top: 2px;
    max-width: 90%; /* Adjust as necessary */
    max-height: 100%; /* Adjust as necessary */
}

.social-icons a:hover {
    background-color: white;
    
}

/*FOOTER*/

@media (max-width: 768px) {



    * {
        margin: 0;
        padding: 0;
        
        
    }

    header {
        
        position: fixed;
        background-color: #131220;
        z-index: 2;
    
    }

    .menu-header ul li {
        display: none;
    }

    #toggle-button{
        display: block;
    }
    .content-00  {
        width: 100%;
    }

    .content-00 .title  {
        font-size: 40px;
      }

      .web-developer, .graphic-dancer {
        position: relative;
        display: inline; 
        font-size:12px;
        bottom: 15px;
        
    }



    .content-01 {

    }

    .biografia p {
        width: 80vw;
        text-align: justify;
    }



 
.content-02 {
   display: flex;
   flex-direction: column;
   background-color: transparent;
   position: relative;
   top: 20px;
}

.all-item-01 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.all-item-02 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    gap: 10px;
    

}



.title-content-02 {
    display: none;
}


.skills {
    position: relative;
    top:115vh;
    left:0;
}

.experiences {
    position: relative;
   bottom: 20px;
    right:0;
}

.item-01-pg-03 {
    position: relative;
    top: 50%;
    height: 100vh;
}

.item-02-pg-03 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    top: 60%;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-bottom {
    position: relative;
    top: 13vh;
}

.content-04 {
    position: relative;
    top: 50%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 220px);
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

.coming-soon {
    z-index: 5;
    position: absolute;
    text-align: center;
}

.card-shadow {
    display: none;
}


footer {
    position: relative;
    top: 100%;
}
}


   
 
    




