* {
  margin: 0;
  padding: 0;
 text-decoration: none;
 color: white;
  
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0; 
  padding: 0; 
  color: white;
  background-color: #241c44;

  scroll-behavior: smooth;
  
}
body {
  overflow-x: hidden;
}



h1 , h3 , a {
 
  font-family: "Orbitron", sans-serif;
}

p {
  font-family: "Inter", sans-serif;
  

}
h1 {
  z-index: 1;
}


#toggle-button {
  position: fixed;
  right: 20px;
  z-index: 1000;
  background-color:transparent;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 5px;
  display: none;
  
}

.sidebar {
  position: fixed;
  top: 0;
  right: -1000px; /* Posiciona o menu fora da tela à direita */
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #241c44, #000000f7);
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  transition: right 0.3s ease; /* Suaviza a transição do menu */
  z-index: 3; /* Garante que o menu fique acima do conteúdo principal */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
 
  
  
}

.sidebar.open {
  right: 0; /* Quando aberto, o menu é trazido para a tela */
 
}

.menu-section {
  padding: 20px;
  
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 30px;
  font-size: 1rem;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  display: block;
 
}

.menu li a:hover {
color: bisque;
}


/*MENU-MOBILE*/

header {
  
  display: flex;
  width: 100%;
  height: 80px; 
  align-items:center ;
  position: fixed;
  background: linear-gradient(to bottom, #241c44, #000000);
  z-index: 2;
 
  
}
header .menu-header {
  
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100px;
  font-size: 16px;
  gap: 20px;
  
}

header .menu-header ul {

  display: flex;
  justify-content: center;
  list-style: none;
  gap: 10%;
  align-items: center;
  font-family: "Orbitron", sans-serif;
}
header ul li a {
  text-decoration: none;
  list-style-type: none;
  color: aliceblue;
  
  
}
header ul li a:hover {


  color: #1504ff;
  transition: 0.7s; 
  
}


/**/
header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  align-items: center;
  position: fixed;
  background: linear-gradient(to top, #241c44, #000000);
  z-index: 2;

}

.menu-header ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.menu-header ul li {
  display: inline;
}

.menu-header ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/**/


.content-01 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;


}



.content-01 img {
  width: 100rem;
  position: absolute;
  border-radius: 800px  10px ;
  box-shadow: 0 20px 50px #761de3;
 background-color: #fafafaf0;

  
}

.title {
  font-family: "Orbitron", sans-serif;
  color: #ffffff;
  line-height: 1.4;
  white-space: nowrap; /* Previne quebra de linha */
  overflow: hidden; /* Esconde o texto que está fora do contêiner */
  border-right: 0; /* Remove o efeito do cursor de digitação */
  animation: typing 4s steps(40, end) forwards; /* Ajuste o número de steps conforme necessário */
  text-align: center;
  font-size: 80px;
  
 
}

.subtitle {
  position: relative;

  font-size:1rem;
  bottom: 1rem;

  
}






.content-02 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background: linear-gradient(to bottom, #241c44, #000000f7);
  position: relative;
  top: 60px;
  
}

.biografia {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  margin: 20rem 0rem;
  position: relative;
  

 

}
.about-me {
  text-align: center;
  padding: 2rem;
}

.info-biografia {
  padding: 2rem;
  max-width: 70%;
  
}





/**/



.content-03 {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #241c44, #000000f7);

  width: 100%;
  
 


}
.content-04 {
  width: 100%;
 

}

.content-04 section {
  position: relative;
  top: 5rem;
}


.flip-card-back h1 {
  color: white;
padding: 10px;
}

h3 {
  color: white;
padding: 20px;
}


section {
  display: flex;
  flex-direction: column;
  
}
.card-all {
 
  display: flex;
  gap: 2rem;
flex: 1 0 30%;
aspect-ratio: 1;
flex-flow: column nowrap;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(to bottom, #382487, #000000f7);
scroll-snap-align: center;
}

main {
  display: flex;
  flex-direction: column;

  
}


.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
 
  perspective: 1000px; /*    border: 1px solid #f1f1f1;  Remove this if you don't want the 3D effect */
  border-radius: 1rem;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Class to rotate the card */
.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 3rem;
  border: solid 3px white;

  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.573);
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background: linear-gradient(to bottom, #241c44, #000000f7);
  color: rgb(91, 91, 91);
}

.flip-card-front img {
  width: 250px;
  height: 280px;
  object-fit: cover;
  border-radius: 1rem;
}

.flip-card-front video {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 1rem;
 
}

/* Style the back side */
.flip-card-back {
  background: linear-gradient(to bottom, #241c44, #000000f7);
  color: white;
  transform: rotateY(180deg);
}



main {
  display: flex;
  justify-content: center;
  align-items: center;
   /*  min-height: 100vh;*/
  padding-bottom: 64px;
}

.carousel-container {
  width: 100%;
  padding-block: 16px 32px;
  margin: 16px 32px;
  overflow-x: auto;
  display: flex;
  width: 100%;
  gap: 8px;
  align-items: center;
  scroll-snap-type: x mandatory;
}

.carousel-container::-webkit-scrollbar {
  height: 14px;
  width: calc(100% - 48px);
}

.carousel-container::-webkit-scrollbar-track {
  background: #b1b3b399;
 
}

.carousel-container::-webkit-scrollbar-thumb {
  background: #3f008b;
  border-radius: 50px;
  
  
}

.carousel-container::-webkit-scrollbar-track-piece:start {
  background: #b1b3b399;

}

.carousel-slide {
  flex: 1 0 20%;
  aspect-ratio: 1;
  flex-flow: column nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #241c44, #000000f7);
  scroll-snap-align: center;
  border-radius: 1rem;

} 

/**/











.item-01 {
  text-align: center;


  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
 
 
}


.item-container {
width: 100%;
height: auto;
position: relative;
top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;

  
}

.box {
  position: relative;
    top: 5rem;
}

.title-02 {
padding: 2rem;
font-size: 2rem;
}



/*btn*/

.animated-button {
  background: linear-gradient(to bottom, #241c44, #000000f7);
  padding: 10px 20px;
  margin: 12px;
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  overflow: hidden;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 2.5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  position: relative;
  font-family: "Orbitron", sans-serif;

}



.animated-button::before {
content: '';
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
background: linear-gradient(to bottom, #241c44, #000000f7);
opacity: 0;
-webkit-transition: .2s opacity ease-in-out;
transition: .2s opacity ease-in-out;
}

.animated-button:hover::before {
opacity: 0.2;
}

.animated-button span {
position: absolute;
}

.animated-button span:nth-child(1) {
top: 0px;
left: 0px;
width: 100%;
height: 2px;
background-color: white;
-webkit-animation: 2s animateTop linear infinite;
        animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
0% {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
100% {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
}

.animated-button span:nth-child(2) {
top: 0px;
right: 0px;
height: 100%;
width: 2px;
background-color: white;
-webkit-animation: 2s animateRight linear -1s infinite;
        animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
0% {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
100% {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
}

.animated-button span:nth-child(3) {
bottom: 0px;
left: 0px;
width: 100%;
height: 2px;
background-color: white;
-webkit-animation: 2s animateBottom linear infinite;
        animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
0% {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
100% {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
}

.animated-button span:nth-child(4) {
top: 0px;
left: 0px;
height: 100%;
width: 2px;
background-color: white;
-webkit-animation: 2s animateLeft linear -1s infinite;
        animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
0% {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
100% {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
}


.item-02 {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 50%;
  
}

/*ITEM02*/

.card-container {
  position: relative;
  top: 6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  flex-wrap: wrap;
  gap: 20px;
  height: 600px;
}

.card {
display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #241c44;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);
  text-align: center;
  width: 4rem;
  height: 6rem;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-bottom: 10px;
}

.card p {
  margin: 0;
  font-size: 6px;
  font-weight: bold;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.card-poke-all {
  position: relative;
  bottom: 80px;
  flex-direction: column;
}
.card-poke h1 {
  position: relative;
  top: 20px;
}

.card-poke span {
  position: relative;
  font-size: 12px;
  bottom: 18px;
}

.card-poke {
          background-color: transparent;
          width: 100px;
          height: 50px;
          perspective: 1000px;
          margin: 20px;
         text-align: center;
      }
      .inner-card {
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: transform 0.8s;
          transform-style: preserve-3d;
      }
      .card-poke:hover .inner-card {
          transform: rotateY(180deg);
      }
      .front, .back {
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.2em;
          color: white;
          border-radius: 10px;
      }
      .front {
          background-color: #333;
      }
      .back {
          background-color: #555;
          transform: rotateY(180deg);
      }





      footer {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        text-align: center;
        padding: 16px;
        background-color: #eaeaea90;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
      }
      
      footer p {
        color: #ffffff;
        margin: 0;
      }
      
      footer a {
        text-decoration: none;
        color: inherit;
      }
    
    
      
    
    
    
    
    
    /*CONTENT-04*/
    
    
    
    /*FOOTER*/
    footer {
        position: relative;
        top: 5rem;
        background: linear-gradient(to bottom, #241c44, #000000f7);
        color: rgb(255, 255, 255);
        padding: 20px 0;
    }
    
    .footer-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        max-width: 1000px;
        margin: 0 auto;
    
    }
    
    .footer-contact, .footer-about {
        flex: 1;
        margin: 10px;
    }
    
    .footer-contact p {
        margin: 10px 0;
        font-family: "Orbitron", sans-serif;
    }
    
    .footer-contact p i {
        margin-right: 10px;
        font-family: "Orbitron", sans-serif;
    }
    
    
    .footer-contact a {
        color: #1e90ff;
        text-decoration: none;
    }
    
    .footer-about h3 {
        margin-top: 0;
        font-family: "Orbitron", sans-serif;
    }
    
    .footer-about p {
        margin: 10px 0;
        font-family: "Orbitron", sans-serif;
    }
    
    strong {
        position: relative;
        left: 10px;
        color: white;
    }
    
    .social-icons {
        display: flex;
        justify-content: flex-start;
    }
    
    .social-icons a {
        color: white;
        margin-right: 10px;
        
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background-color: #4a4a4a00;
        border-radius: 50%;
        transition: background-color 0.3s;
    }
    
    .social-icons i img {
        position: relative;
        top: 2px;
        max-width: 90%; /* Adjust as necessary */
        max-height: 100%; /* Adjust as necessary */
    }
    
    .social-icons a:hover {
        background-color: white;
        
    }
    
    
    
    
    
       
     
        
    
    
    
    




      @media (max-width: 768px  ) {


        * {
          margin: 0;
          padding: 0;
          
          
      }
  
      header {
          
          position: fixed;
          background-color: #131220;
          z-index: 2;
      
      }
  
      .sidebar {
          display: flex;
          justify-content: center;
          align-items: center;
          
      }
  
      .sidebar.open {
      
        
      }
  
  
      .menu-header ul li {
          display: none;
      }
  
      #toggle-button{
          display: block;
      }

      .web-developer , .graphic-dancer {
        position: relative;
        
        font-size: 1rem;
      }

      .content-01 {}

      .subtitle {
        bottom: 3rem;
      }

      .content-02 {
        position: relative;
     
      }

        .about-me {
          text-align: center;
        }

        .biografia {
          text-align: justify;
          padding: 1rem;
          width: 100%;
        }

        .content-03 {
          position: relative;
        display: flex;
        flex-direction: column;
        }

        .content-04 {
          flex-direction: column;
          position: relative;
        }
        
        .title {
          padding: 3rem;
          font-size: 4rem;
        }
        
        .item-01 {
          width: 100%;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 2rem;
        }

        .box {
          top: 0;
        }



        .item-02 {
        width: 100%;
        position: relative;
        }
        
        .item-01 .item-container {
          position: relative;
          height: 30rem;
          top: 0;
        }



    footer {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: relative;
      text-align: center;
     
    }

    .footer-contact, .footer-about {
      flex: 0;
    }
        
        
        
        
        
        
  }


  @media (max-width: 600px) {
    .content-01 img {
      width: 23rem;
  }

  .title {
    padding: 3rem;
    font-size: 1.5rem;
}
    .info-biografia {
  padding: 1rem;
  max-width: 90%;
}
}

        
  
